/* Vos customisations des classes de Bootstrap */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f74c3c;
  --secondary-color: #f5f5f5;
  --black: #222222;
  --white: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav a,
h1,
h2,
h3 {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}




.image {
  width: 20%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  ul {
    display: flex;
    gap: 20px;

    li a {
      color: white;
      list-style-type: none;
      text-decoration: none;
    }
  }
}

#home {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  >div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  h1 {
        font-size: 4.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    
  }
  a {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.8rem 1.1rem;
    border-radius: 4px;
    font-size: 2rem;

    &:hover {
        background-color: #dc4638;
    }
}
}

.container {
  width: 1200px;
}





span {
  font-weight: 900;
}

#who {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  >div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 3rem 0;
  }
}

#get-involved {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
}

.You {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  gap: 20px;
  article {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 30%;
    flex-direction: column;
    align-items: center;
    
    
    h2 {
      padding-bottom: 15px;
      font-weight: 500;
    }

    p{
      padding-bottom: 15px;
      font-size: 1.1rem;
    }

    a {
      background-color: var(--white);
      color: var(--primary-color);
      padding:5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
    }
  }
}

footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 1rem 0;
  .container {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;

  }
}


.under{
    text-decoration: underline;
    text-underline-offset: 10px;
    color:var(--primary-color);
}

.orange{
    color:var(--primary-color);
}

.arrow-up {
    width: 32px;
    height: 20px;
    background-color: #8888e8;

    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
.sticky{
    position: fixed;
    right: 30px;
    bottom: 60px;
}

.scroll {
  scroll-behavior: smooth;
}

/* Responsive Styling */

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
