/* Vos customisations des classes de Bootstrap */
*{
    margin: 0;
    padding: 0;
}

.image{
    width: 10%;
}




/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
